
.text-platzi {
    color: #97c93e;
}

#header img {
    width: 80px;
}

#footer {
    background-color: #03091e;
    padding-top: 4px;
    padding-bottom: 8px;
}

#footer a {
    text-align: center;
    color: white;
    text-decoration: none;
}